def main():
    '''
    Whatever you write here can be run either by
    python -m {app_name} args...
    or
    {app_name} args...

    By default, the executable script is only installed
    in the virtual environment.
    '''


if __name__ == '__main__':
    main()