[tox]
envlist = lint,types,py{310,311,312}
skipdist = True

[testenv]
description = Pytest with required coverage >=80
deps = pytest
       pytest-cov
commands = pytest --cov --cov-fail-under=80

[testenv:lint]
description = flake8 linting
skip_install = true
deps = flake8
commands = flake8 --exclude .*,__pycache__,venv,tests --max-line-length 88

[testenv:types]
description = mypy type checking 
skill_install = true
deps = mypy
commands = mypy {app_name} --check-untyped-defs --exclude tests --ignore-missing-imports

